@import "../../../styles/constants";

.outlined {
  margin: 6px;
  width: fit-content;
  display: grid;
  place-items: center;
  border-radius: 5px;
  color: $orange;

  &:hover {
    background: $primary;
    color: white;
  }
}
