$red: #f00;
$primary: #ebeb !default;
$orange: #ee7752;
$pink: #e73c7e;
$blue: #23a6d5;
$green: #23d5ab;

$grid-area-gap: 8px;
$side-nav-bar-width: 150px;
$header-height: 60px;
$footer-height: 60px;
$content-height: calc(
  100% - $header-height - $footer-height - $grid-area-gap * 2
);

$content-max-width: calc(100vw - $side-nav-bar-width - $grid-area-gap);

$gradient: $orange, $pink, $blue, $green;
