$variable: true;

@import "../styles/constants";
@import "../styles//variables";
@import "../styles/animation";

.header {
  grid-area: header;
  border: 1px solid green;
  display: grid;
  place-items: center;
}
.aside {
  grid-area: aside;
  border: 1px solid pink;
}

.main {
  grid-area: main;
  display: grid;
  place-items: center;
}

.footer {
  grid-area: footer;
  border: 1px solid purple;
  display: grid;
  place-items: center;
}

.border {
  // border-radius: 5px;
  border: 1px solid $my-color-blue;
  color: $my-color-blue;
  border-radius: if($variable, 5px, null);
}

.flow {
  width: 200px;
  height: 200px;
  border: 1px solid black;

  @include flowKeyframes(flowAni);

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  // background: radial-gradient(
  //   circle at 100%,
  //   #333,
  //   #333 50%,
  //   #eee 75%,
  //   #333 75%
  // );
  background-size: 400% 400%;
}

.custom {
  background: {
    color: blue;
    blend-mode: multiply;
  }
  color: white;
}

.pulse {
  @include inline-animation(2s) {
    from {
      background-color: blue;
    }
    to {
      background-color: red;
    }
  }
}

.enlarge {
  font-size: 14px;
  // border: 1px solid red;
  transition: {
    property: font-size;
    duration: 4s;
    delay: 0.2s;
  }

  &:hover {
    font-size: 32px;
  }
}
